@{
    ViewData["Title"] = "Apagar - Confirmação";
}

<div class="text-center">
    <h3>Deseja realmente apagar o contato (Nome)</h3>

</div>
<a class="btn btn-primary" role="button">Cancelar</a>
<a class="btn btn-danger" role="button">Confirmar</a>